<div class="grid mt-4 animate__animated animate__flipInY">
  <div class="md:col-3 lg:mx-auto">
    <p-card
      [header]="pais?.name?.common"
      [subheader]="pais?.capital"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" [src]="pais?.flags?.svg" />
      </ng-template>
      <p>
        <strong>Poblacion: </strong> {{pais?.population|number}}
      </p>
      <p>
        <strong>Codigo: </strong> {{pais?.cca2}}
      </p>
      <p>
        <strong>Extension: </strong> {{pais?.area|number}} km2
      </p>
      <p>
        <strong>Continente: </strong> {{pais?.continents}}
      </p>
      
      <ng-template pTemplate="footer">
        <a [href]="pais?.maps?.googleMaps" style="display: flex; justify-content: center;">
          <p-button label="Ver en Google Maps" icon="pi pi-map-marker"></p-button>
        </a>
      </ng-template>
      
    </p-card>
  </div>
</div>
