<div class="d-flex flex-column mt-3">
  <div class="flex-fill">
    <app-pais-buscar
      class="col-md-6"
      [placeHolder]="placeHolder"
      (onEnter)="buscarPaisesPorSubRegion($event)"
      (onDebounce)="buscarPaisesPorSubRegion($event)"
    ></app-pais-buscar>
  </div>


  <hr />
  <div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino {{ queryBusqueda }}
  </div>
  <div class="grid mt-4" *ngIf="!hayError">
    <app-pais-tabla
      [paisesLista]="paisesLista"
      class="md:col-6 lg:mx-auto "
    ></app-pais-tabla>
  </div>
</div>
