<div class="flex justify-content-center md:p-fluid animate__animated animate__fadeInDown ">
  <p-buttonGroup class="md:p-fluid	">
    <p-button
      label="Buscar por nombre"
      routerLink="pais/nombre"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></p-button>
    <p-button
      label="Buscar por región"
      routerLink="pais/region"
      routerLinkActive="active"
    ></p-button>
    <p-button
      label="Buscar por subregion"
      routerLink="pais/subregion"
      routerLinkActive="active"
    ></p-button>
  </p-buttonGroup>
</div>
