<div class="d-flex flex-column mt-3">
  <div class="flex-fill">
    <app-pais-buscar
      class="col-md-6"
      [placeHolder]="placeHolder"
      (onEnter)="buscarPaises($event)"
      (onDebounce)="sugerencias($event)"
    ></app-pais-buscar>
  </div>
  <ol class="list-group list-group-numbered">
    <li
      *ngFor="let paisSugerido of paisesSugeridos"
      [routerLink]="['../', paisSugerido.cca2]"
      class="list-group-item list-group-item-action"
    >
      {{ paisSugerido.name.common }}
    </li>
  </ol>

  <hr />
  <div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino {{ queryBusqueda }}
  </div>
  <div class="flex-fill mt-4" *ngIf="!hayError">
    <app-pais-tabla
      [paisesLista]="paisesLista"
      class="col-md-12"
    ></app-pais-tabla>
  </div>
</div>
